*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    line-height: 42px;
}


body{
    background-color: black;
}
nav{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}
#pages-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
#gallery-controls{
    display: grid;
    grid-template-columns: 6fr 6fr 13fr 17fr;
}
#generator-controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#generator-controls>input{
    border: 20px;
    color: black;
}


a{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-style: italic;
}
a:hover{
    color:lightskyblue;
    background-color:rgb(50, 50, 50);
}

button{
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
button:hover{
    color:lightskyblue;
    background-color:rgb(50, 50, 50);
}


#gallery-content{
    min-height: 400px;
    margin: 5px;
    padding: 5px;
}
.gallery-content-images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.gallery-content-images>img{
    height: 350px;
}
.gallery-content-videos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.gallery-content-videos>video{
    height: 350px;
}
.gallery-content-sound-effects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.gallery-content-sound-effects audio{
    width: 100%;
}
.gallery-content-sound-effects div{
    overflow: hidden;
    background-color: rgb(26, 26, 26);
}
.gallery-content-background-sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.gallery-content-background-sounds audio{
    width: 100%;
}
.gallery-content-background-sounds div{
    overflow: hidden;
    background-color: rgb(26, 26, 26);
}


#generator-canvas{
    height: calc(100vh - 47px);
    background-color: rgb(58, 0, 58);
}






