*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}
nav{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}
#pages-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
#gallery-controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#generator-controls{
    color: white;
}


a{
    text-align: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-style: italic;
}
a:hover{
    color:lightskyblue;
    background-color:rgb(50, 50, 50);
}

button{
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    cursor: pointer;
}
button:hover{
    color:lightskyblue;
    background-color:rgb(50, 50, 50);
}


#gallery-content{
    min-height: 400px;
    margin: 5px;
    padding: 5px;
}
.gallery-content-images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.gallery-content-images>img{
    height: 350px;
}
.gallery-content-videos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.gallery-content-videos>video{
    height: 350px;
}
.gallery-content-sounds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.gallery-content-sounds p{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.gallery-content-sounds audio{
    width: 100%;
}
.gallery-content-sounds div{
    overflow: hidden;
    background-color: rgb(26, 26, 26);
}
.gallery-content-b-sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.gallery-content-b-sounds p{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.gallery-content-b-sounds audio{
    width: 100%;
}
.gallery-content-b-sounds div{
    overflow: hidden;
    background-color: rgb(26, 26, 26);
}


